.patterns-list {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p {
      text-align: center;
      margin-bottom: 22px;
    }


  }

  &__container {
    
    max-height: 250px;
    padding: 0 15px;
    overflow-y: scroll;
    div {
      margin: 10px 0;
    }
  }
}

.templates-text {
  margin-top: 20px;
}