.excercise-list {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__date {
    margin-bottom: 10px;
  }
}

.excercises-container {
  margin-top: 10px;
}