.excercise-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__header {
    margin: 20px 0;
    font-size: 18px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}