/* 
  font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
