.auth {
  width: 300px;
  height: 300px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__inputField {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 15px;
    
  }

  hr {
    width: 70%;
    height: 2px;
  }
}